.container__breathPage {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.container__breathPage--title {
    font-size: 25px;
    margin: 30px 30px;
}

/* @media screen and (min-width: 450px) {

  
  }
   */