.container__breathPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__breathPage-title {
  font-size: 1.5rem;
  margin: 30px 30px;
  font-family: var(--font-title);
  font-weight: 500;
  color: var(--background-secondary)
}

@media screen and (min-width: 430px) {
  h1.container__breathPage-title {
    font-size: 1.8rem;
  }
}
