.container__breathPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__breathPage--title {
  font-size: 20px;
  margin: 10px;
}

@media screen and (min-width: 450px) {
  h1.container__breathPage--title {
    font-size: 25px;
    margin: 30px 30px;
  }
}
