.container__breathExercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  position: relative;
}

.breathExercise--back-button {
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  padding: 5px 9px;
  border-radius: 5px;
  font-size: small;
  border: 1px solid #4a6670;
}

.breathExercise__title {
  margin: 40px 20px 10px;
  text-align: center;
}

.breathExercise__description {
  margin: 20px;
}

.breathExercise__info {
  margin: 15px;
}

.breathExercise__content {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.breathExercise__button {
  background-color: #4a6670;
  line-height: 1.5;
  color: #a0af84;
  border: none;
  border-radius: 10px;
  margin: 40px;
  font-size: 1rem;
  width: 13rem;
  height: 5rem;
}

.breathExercise__bubbleSpace {
  justify-self: end;
  min-width: 500;
}
