.container__breathExercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  position: relative;
}



.breathExercise__title {
  margin: 40px 20px 10px;
  text-align: center;
}

.breathExercise__description {
  margin: 20px;
}

.breathExercise__info {
  margin: 15px;
}

.breathExercise__content {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.breathExercise--back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-secondary);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #4a6670;
  width: 7rem;
  height: 2.5rem;
  color: aliceblue;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.breathExercise--button {
  background-color: var(--background-secondary);
  cursor: pointer;
  color: aliceblue;
  line-height: 1.5;
  border: none;
  border-radius: 80px;
  margin: 40px;
  font-size: 1.5rem;
  width: 6.5rem;
  height: 6.5rem;
  transition: transform 0.3s ease-in-out;
}

.breathExercise__button:hover,
.breathExercise--back-button {
  background-color: #19683e;
  transform: scale(1.1);

}

.breathExercise__bubbleSpace {
  justify-self: end;
  min-width: 500;
}
