.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
}

.about-us--title {
  width: 95%;
  padding: 10px 20px 0;
  text-align: right;
  background-color: #668f80;
}

.about-us--title--name {
  font-size: 2rem;
  color: #320c40;
}

.about-us--title--name__sarka {
  color: #4a6670;
}

.about-us--title--name__deni {
  color: #c3b59f;
}

.about-us--title--img {
  display: flex;
  width: 65%;
  object-fit: contain;
}

.about-us--title--img__sarka {
  float: right;
}

.about-us--title--text {
  margin: 0px 4rem 0rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us--title--sarka {
  text-align: left;
  background-color: #a0af84;
  border-bottom: 50px solid #668f80;
}

.about-us--title--paragraph {
  color: #320c40;
}

@media screen and (min-width: 430px) {
  .about-us--title--img {
    width: 30%;
  }
}

@media screen and (min-width: 800px) {
  .about-us--title--img {
    width: 20%;
  }
}
