body {
  /* background: #111;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;  */
} 

.container__mainSoundMenu {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

.swiper { 
  padding-top: 50px;
  padding-bottom: 80px;

}

.swiper-wrapper--link {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}

.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 300px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

@media screen and (min-width: 450px) {

  .container__mainSoundMenu {
    min-height: 700px;
  }

  .swiper .swiper-slide {
    min-width: 350px;
   min-height: 400px;
  }
}



