/* Mobile first width 430px */
body.active-modal {
  overflow-y: hidden;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz__container {
  background-color: #a0af84;
  border-radius: 50px;
  max-width: 500px;
  margin: 15px;
  padding: 15px;
}

.container__quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.container__mainQuiz--title {
  display: flex;
  font-size: 30px;
}

.lastSentence-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lastSentence-section__title {
  margin: 15px;
  font-size: 30px;
}

.lastSentence-section__recommended {
  margin: 10px 0 5px 0;
  font-size: 20px;
}

.lastSentence-section__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 25px;
  margin: 20px;
}

.lastSentence-section__menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: rgb(85, 81, 81);
  width: 50%;
  margin: 5px;
}

.lastSentence-section__menu--items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lastSentence-section__menu--items a img {
  width: 100%;
  cursor: pointer;
  border-radius: 80px;
}

.question-count {
  font-size: 10px;
  margin: 20px;
}

.question__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 45px;
  flex-wrap: wrap;
}

.question-count {
  margin: 10px;
  font-size: 20px;
}

.question-text {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.answer__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin: 30px;
}

.answer__section--button {
  background-color: blanchedalmond;
  box-shadow: 1px black;
  min-width: 50px;
  min-height: 50px;
  max-width: 250px;
  max-height: 250px;
  border: none;
  border-radius: 7px;
  margin: 10px;
  padding: 10px;
  width: 40%;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 5px 10px 10px #2b2b2c;
}

.answer__section--button:hover {
  background-color: rgb(228, 219, 205);
}

@media screen and (min-width: 450px) {
  .question-text {
    font-size: 30px;
    margin: 30px;
  }
}
