body.active-modal {
  overflow-y: hidden;
}

.container__quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px 0;
  gap: 30px;
  background-color: var(--background-primary);
  border-radius: 10px;
}

.quiz-logo {
  font-family: Meow Script;
  color: var(--background-secondary);
  font-size: 3rem;
  margin: 20px;
}

.container__mainQuiz--title {
  display: flex;
  font-size: 30px;
}

.quiz__lastSentence {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lastSentence-section__title {
  margin: 15px;
  font-size: 30px;
}

.quiz__lastSentence--recommended {
  margin: 10px 0 20px 0;
  font-size: 20px;
}

.quiz__lastSentence-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 25px;
  margin: 20px;
}

.quiz__lastSentence-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: rgb(85, 81, 81);
  width: 50%;
  margin: 5px;
}

.quiz__lastSentence-menu a img {
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
}

.quiz__QaA-section {
  display: flex;
}

.question-count {
  font-size: 10px;
  margin: 20px;
}

.quiz__question-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  font-size: 45px;
  flex-wrap: wrap;
  text-align: center;
  /* background-color: rgb(131, 158, 130); */
  border: 5px solid rgb(40, 84, 58) ;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.quiz__question-section-subtitle {
  font-size: 1rem;
}

.question-text {
  text-align: center;
  padding: 10px 25px;
  font-size: 1rem;
  margin: 15px 15px 0;
}

.quiz__answer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  flex-wrap: wrap;
  /* border: 2px solid #b9cbc2; */
  /* background-color: rgb(123, 159, 120); */
  border: 5px solid rgb(40, 84, 58) ;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.quiz__answer-section--button {
  background-color: var(--background-secondary);
  min-width: 80px;
  min-height:90px;
  max-width: 250px;
  max-height: 250px;
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 40%;
  font-size: 15px;
  cursor: pointer;
}

.quiz__lastSentence-menu--link {
  display: flex;
  flex-direction: column;
}

.quiz__lastSentence-menu--link-text {
  font-size: 0.8rem;
  margin: 5px;
  font-family: var( --font-title);
  font-size: 0.9rem;

}

@media screen and (min-width: 430px) {
  .question-text {
    /* margin: 30px 30px 0; */
    font-size: 2.2rem;
  }

  .quiz__question-section-subtitle {
    font-size: 2.2rem;
  }

  .quiz__lastSentence-menu {
    flex-direction: row;
    margin: 10px 5px;
    gap: 10px;
  }

  .container__quiz {
    margin: 20px 10px;
    padding: 70px 0px;
  }

  .quiz__lastSentence-menu a {
    width: 30%;
  }

  .quiz-logo {
    font-size: 5rem;
    margin-bottom: 50px;
  }


}

@media screen and (min-width: 800px) {
  .quiz__answer-section--button {
    width: 30%;
    min-width: 130px;
    min-height:130px;
    font-size: 25px;
  }

  .quiz__answer-section--button:hover {
    opacity: 70%;
  }

  .container__quiz {
    margin: 40px 0;
    height: 800px;
    background-color: rgb(218, 230, 225);
  }

  .quiz__lastSentence-menu--link-text {
    font-size: 1rem;
    margin: 20px;
  }
}

@media screen and (min-width: 950px) {
  .quiz__answer-section--button {
    width: 15%;
  }

  .quiz__answer-section {
    width: 100%;
    gap: 15px;
  }

  .quiz__question-section {
    font-size: 50px;
    min-height: 500px;
  }


}
