/* Mobile first width 430px */

.container-sound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-sound__title {
  font-size: 35px;
  text-align: center;
}

.container-sound__content--buttons {
  justify-content: center;
}

.container-sound__content--buttons a {
  margin: 20px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.container-sound__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  margin-top: 20px;
  transform: translate(0, 60%);
}

.container-sound__content--back,
.container-sound__content--back a  {
  align-self: flex-start;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

.controls {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.side {
  margin: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  border-radius: 100%;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
  background-color: #ee4444;
  
}
.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: #ffcc00;
}
.back {
  transform: rotateY(180deg) translateZ(100px);
  background-color: #ff0055;
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: #8855ff;
}
.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: #0099ff;
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: #22cc88;
}

.playButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 100%);
}

.control-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin: 20px;
}
.forward p,
.backward p  {
  font-size: 12px;
}

.rotate {
  animation: rotateAnimation 8s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

