/* Mobile first width 430px */

.container__onesound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onesound__title {
  font-size: 2rem;
  text-align: center;
  margin: 40px;
}

.onesound__content--buttons {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: nowrap;
}

.onesound__content--buttons a {
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.onesound__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  transform: translate(0, 60%);
}

.onesound__content--back,
.onesound__content--back a {
  align-self: flex-start;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

.onesound__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
