/* Mobile first width 430px */

.container__onesound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onesound__title {
  font-size: 2rem;
  text-align: center;
  margin: 40px;
  font-family: var(--font-title);
  font-weight: 300;
}

.onesound__content--buttons {
  display: flex;
  flex-wrap: nowrap;
}

.onesound__content--buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: #0b6435bd;
  text-decoration: none;
  font-size: 0.7rem;
  width: 7.5rem;
  height: 4rem;
  color: aliceblue;
  border-radius: 80px;
  text-align: center;
  font-family: var(--font-title);
}

.onesound__content--buttons a:hover {
  background-color: #103b24cd;
}

.onesound__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  transform: translate(0, 60%);
}

.onesound__content--back,
.onesound__content--back a {
  align-self: flex-start;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

.onesound__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.forward,
.backward {
  font-size: 0.3;
  font-family: var(--font-title);
}