.about-project--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  padding: 15px;
  background-color: var(--background-primary);
  max-width: 800px;
  border-radius: 10px;
}

.about-project--logo {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: var(--background-secondary);
  font-family: Meow Script;
  margin: 20px;
}

.about-project--img {
  width: 30%;
}

.about-project--title {
  margin: 15px;
  text-align: justify;
  color: #472836;
}

.about-project--imgs {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 430px) {
  .about-project--logo {
    margin: 50px;
  }

  .about-project--imgs {
    margin: 50px 0;
  }
}
