.about-project--container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  margin: 10px;
  padding: 15px;
  background-color: #668f80;
  max-width: 800px;
}

.about-project--logo {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #4a6670;
  font-family: Meow Script;
  margin: 20px;
}

.about-project--img {
  width: 30%;
}

.about-project--title {
  margin: 15px;
  /* width: 50%; */
  /* height: 50%; */
  text-align: justify;
  color: #472836;
}

.about-project--imgs {
  display: flex;
  justify-content: center;
}
