.container-journal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px;
  gap: 20px;
}

.journal__back {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
}

.journal-form--textarea {
  width: 80vw;
  height: 40vw;
}

.logs {
  margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
}

.entry-logs {
  padding: 10px 0;
  width: 100%;
  max-width: 400px;
  display: flex;
  gap: 20px;
  text-align: left;
  border: 0.25px solid white;
}

.entry-logs--date {
  font-weight: bold;
  flex-shrink: 0;
}
