.container__gratitude-journal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px;
  gap: 20px;
  position: relative;
  background-color: var(--background-primary);
  border-radius: 10px;
  padding: 0 20px;
}

.journal--back-button,
.journal--back-button:visited {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: white;
  padding: 5px 9px;
  border-radius: 5px;
  font-size: small;
  border: 1px solid #4a6670;
  color: var(--background-secondary);
  text-decoration: none;
}

.journal__title {
  margin: 80px 0 10px;
}

.journal--add-button,
.journal--delete-button {
  margin: 20px;
}

.journal__form--textarea {
  width: 80vw;
  height: 40vw;
}

.logs {
  margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
}

.entry-logs {
  padding: 10px 0;
  width: 100%;
  max-width: 400px;
  display: flex;
  gap: 20px;
  text-align: left;
  border: 0.25px solid white;
}

.entry-logs--date {
  font-weight: bold;
  flex-shrink: 0;
}

@media screen and (min-width: 800px) {
  .container-journal {
    max-width: 100%;
  }

  .journal-form--textarea {
    height: 200px;
    width: 400px;
  }

  .journal__text {
    max-width: 500px;
  }
}
