.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  background-color: #A0AF84;
}

.menu-icon,
.menu-icon-cancel  {
  visibility: visible;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: aliceblue;
  margin: 10px;
}

.menu-icon-cancel {
  transition: transform 0.4s ease;
  height: 40px;
  width: 40px;
}

.menu-icon-cancel:hover {
  transform: rotateZ(90deg);

}

.menu {
  display: none;
  position: absolute;
  top: 56px;
  right: 0;
  height: 100%;
  color: #4A6670;
  width: 50%;
  background-color: transparent;
  text-align: center;
  z-index: 15;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 170px;
  width: 50%;
  background-color: #A0AF84
}

.buttons-language {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.button-language__cs,
.button-language__en {
  margin: 5px;
}

.menu li {
  list-style-type: none;
  margin: 5px;
}

.menu--item {
  text-decoration: none;
  color: #4A6670;
}

.menu--item:visited {
  color: #4A6670;
}

.menu--item:hover {
  color: #668F80;
}

.logo {
  text-align: center;
  font-family: Meow Script;
  font-size: 2rem;
  color: #4A6670;
}

@media screen and (min-width: 800px) {

  .menu-icon {
    visibility: hidden;
  }

  .menu {
    display: flex;
    align-items: center;
    position:static;
  }
}
