.exercisesPage {
  margin-bottom: 30px;
  padding: 10px;
}

.exercise-title {
  font-size: 25px;
  margin: 30px 30px;
  text-align: center;
}

.exercise-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.exercise-menu--tile {
  display: flex;
  flex-direction: row;

}

.exercise-menu--tile:nth-child(even) {
  flex-direction: row-reverse;
}

.exercise-menu--tile:hover {
    opacity: 50%;
}

.container__exerciseLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  aspect-ratio: 1 / 1;
  background-color: #a0af84;
}

@media screen and (min-width: 450px) {
  .exercise-menu {
    flex-direction: row;
    padding: 10px;
    margin-bottom: 30px;
  }

  .container__exerciseLink {
    width: 100%;
  }

  .exercise-menu--tile {
    flex-direction: column;
  }

  .exercise-menu--tile:nth-child(even) {
    flex-direction: column-reverse;
  }

  /* .exercise-menu--tile {
    display: block;
  } */
}
