body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #a0af84;
}

.footer--menu {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid #63747a;
  width: 70%;
}

.footer--menu--item {
  flex-shrink: 0;
}

.footer--copy {
  color: #3c535c;
  text-align: center;
  padding-bottom: 20px;
  font-style: oblique;
}

a {
  color: #4a6670;
  text-decoration: none;
}

a:visited {
  color: #4a6670;
}

a:hover {
  color: #025a3b;
}

@media screen and (min-width: 375px) {
  .footer--menu {
    flex-direction: row;
  }
}
