body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container__footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 2%, var(--background-secondary) 80%);
}

.footer__menu {
  display: flex;
  height: 100%;
  padding: 0.5rem 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 70%;
  font-size: smaller;
  font-family: var(--font-title);
  font-weight: 200;
  color: var(--background-secondary)
}

.footer__menu--item {
  flex-shrink: 0;
}

.footer__menu--item { 
  color: var(--text);
  text-decoration: none;
}

.footer__menu--item:visited {
  color: var(--text);
}

.footer__menu--item:hover {
  color: var(--title-secondary);
}

@media screen and (min-width: 325px) {
  .footer__menu {
    flex-direction: row;
  }
}
