.container__carouselMenu {
  width: 100%;
}

.swiper-wrapper--link {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}
.swiper-wrapper--title {
  margin-top: 20px; 
  font-family: var(--font-title);
  font-weight: 500;
  color: var(--background-secondary);
  font-size: 1.3rem;
}

.swiper .swiper-slide {
  display: flex;
  background-color: rgb(249, 253, 233);
  flex-direction: column;
  justify-content: center;
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 150px;
  max-height: 280px;
  min-width: 200px;
  min-height: 250px;
  margin: 20px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

@media screen and (min-width: 430px) and (max-width: 650px) {
  .swiper .swiper-slide {
    max-width: 200px;
    max-height: 350px;
  }
}

@media screen and (min-width: 430px) {
  .swiper .swiper-slide {
    min-width: 350px;
    min-height: 500px;
    max-width: 150px;
    max-height: 280px;
  }
}
