.container__bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bubble__logo {
  position: fixed;
  padding: 2px;
  margin-bottom: 20px;
  font-family: Meow Script;
  font-size: 3rem;
  color: #314e43;
  z-index: 100;
}

.bubble__content {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #728b81d0;
  transition: 1s;
  z-index: 50;
}

.bubble__outside {
  position: absolute;
  width: 250px;
  height: 250px;
  background: rgb(145, 164, 157);
  z-index: 20;
}

.bubble__inside {
  width: 170px;
  height: 170px;
  position: absolute;
  background-color: rgb(48, 75, 57);
  z-index: 0;
}

.bubble__inside a {
  font-size: 20px;
}

.bubble__close-button {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.4s ease;
  color: aliceblue;
}

.bubble__close-button:hover {
  transform: rotateZ(90deg);
}

.bubble__bar {
  position: fixed;
  z-index: 50;
  bottom: 17%;
}

.bar__fixed {
  border-radius: 5px;
  width: 200px;
  height: 10px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.bar__progress {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: rgb(64, 105, 78);
  z-index: 20;
}

@media screen and (max-width: 340px) {
  .bubble__outside {
    width: 190px;
    height: 190px;
  }

  .bubble__inside {
    width: 100px;
    height: 100px;
  }

  .bubble__inside a {
    font-size: 18px;
  }
}

@media screen and (min-width: 430px) {
  .bubble__logo {
    font-size: 4rem;
  }

  .bubble__bar {
    bottom: 25%;
  }
}

@media screen and (min-width: 800px) {
  .bubble__logo {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1500px) {
  .bubble__outside {
    width: 290px;
    height: 290px;
  }

  .bubble__inside {
    width: 200px;
    height: 200px;
  }

  .bubble__inside a {
    font-size: 45px;
  }
}
