.bubbleBreath__out {
  background: rgb(109, 156, 113);
  width: 300;
  height: 300;
  border-radius: "50%";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  color: "white";
  font-size: "20px";
  font-weight: "bold";
  text-align: "center";
}

.bubbleBreath__in {
  background: rgb(207, 245, 184);
  width: 200;
  height: 200;
  border: "50%";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  color: "white";
  font-size: "20px";
  font-weight: "bold";
  text-align: "center";
}

.breathExercise__info {
  font-size: small;
  font-style: oblique;
}

@media screen and (max-width: 340px) {
 
  .bubbleBreath__out {
    width: 400;
    height: 400;
  }
  
  .bubbleBreath__in {
    width: 300;
    height: 300;
}

}
