@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
    --font-title: 'Lemonada';
    --background-primary: #e5e5e5;
    --background-secondary: #0b6434;
    --neutral: #63776d;;
    --title-primary: #668f80;
    --title-secondary: #604d53;
    --text: #fffcfc;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("./listy1.jpg");
}

li {
  list-style-type: none;
}
